// $app-color: #202442;
// $app-color: #1a69a4;
$header-height: 65px;
$footer-height: 180px;

.main-template {
  height: 100%;
  overflow: auto;
  .main-header {
    width: 100%;
    height: $header-height;
    background-color: $app-color;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    .app-name {
      font-size: 1.4rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      letter-spacing: 1.2px;
    }
    .header-menu-items {
      display: flex;
      .menu-items {
        margin-right: 16px;
        padding: 10px 32px;
        &:hover {
          background-color: $secondary-app-color;
          border-radius: 25px;
        }
        // &.active {
        //   background-color: $secondary-app-color;
        //   border-radius: 25px;
        // }
        cursor: pointer;
      }
    }
  }
  .main-content {
    min-height: calc(100% - (#{$header-height}));
    background-color: $secondary-app-color-100;
    display: flex;
    .block-ui-landing-page {
      min-height: calc(100% - (65px));
      background-color: $secondary-app-color-100;
      display: flex;
      width: 100%;
    }
  }
  .main-footer {
    height: $footer-height;
    .app-footer {
      padding: 4em !important;
      // margin-top: 30px !important;
      background-color: $app-color;
    }
  }
}