// $app-color: #202442;
// $app-color: #1a69a4;
$header-height: 65px;
$footer-height: 180px;

.main-template {
  height: 100%;
  overflow: auto;
  .main-header {
    width: 100%;
    height: $header-height;
    background-color: $app-color;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    .app-name {
      font-size: 1.4rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      letter-spacing: 1.2px;
    }
    .header-menu-items {
      display: flex;
      .menu-items {
        margin-right: 16px;
        padding: 10px 32px;
        &.active {
          background-color: $secondary-app-color;
          border-radius: 25px;
        }
        cursor: pointer;
      }
    }
  }
  .main-content {
    min-height: calc(100% - (#{$header-height}));
    background-color: $secondary-app-color-100;
    display: flex;
    .nfts-container {
      display: flex;
      flex-direction: column;
      flex: 2;
      .interest-nfts, .participant-nfts {
        flex: 1;
      }
      .interest-nfts-container, .participant-nfts-container {
        padding: 20px;
        .heading {
          color: #a9e3ff;
        }
        .interest-nfts, .participant-nfts {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          .nft-container {
            margin: 0 20px 0 0;
            .nft {
              width: 200px;
              background: $secondary-app-color;
              height: 250px;
              border-radius: 10px;
            }
            .nft-info {
              display: flex;
              .pod-name, .price {
                flex: 1;
                display: flex;
                justify-content: center;
                margin-top: 10px;
                border-radius: 5px;
              }
              .pod-name {
                margin-right: 5px;
                border: #00f5e5  1px solid;
                color: #00f5e5  ;
              }
              .price {
                margin-left: 5px;
                border: #41CD7D 1px solid;
                color: #41CD7D;
              }
            }
          }
        }
      }
    }
    .block-ui-landing-page {
      min-height: calc(100% - (65px));
      background-color: $secondary-app-color-100;
      display: flex;
      width: 100%;
    }
  }
  .main-footer {
    height: $footer-height;
    .app-footer {
      padding: 4em !important;
      // margin-top: 30px !important;
      background-color: $app-color;
    }
  }
}